@using BTL_QuanLyBanDienThoai.Models.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAuthAdmin.cshtml";
}


@model UserViewModel

<div class="card">
    <div class="card-body p-4">

        <div class="text-center w-75 m-auto">
            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
            <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>
        </div>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Email address</label>
                <input asp-for="Name" class="form-control" type="text" id="name" placeholder="Enter your email" oninput="clearError('name-error')">
                <span asp-validation-for="Name" id="name-error" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input asp-for="Email" class="form-control" type="email" id="emailaddress" placeholder="Enter your email" oninput="clearError('email-error')">
                <span asp-validation-for="Email" id="email-error" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a href="pages-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                <label asp-for="Password">Password</label>
                <div class="input-group input-group-merge">
                    <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Enter your password" oninput="clearError('password-error')">

                    <div class="input-group-append" data-password="false">
                        <div class="input-group-text">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" id="password-error" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a href="pages-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <div class="input-group input-group-merge">
                    <input asp-for="ConfirmPassword" type="password" id="password" class="form-control" placeholder="Enter your confirm password" oninput="clearError('confirm-password-error')">

                    <div class="input-group-append" data-password="false">
                        <div class="input-group-text">
                            <span class="password-eye"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" id="confirm-password-error" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                </div>
            </div>

            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary" type="submit"> Register </button>
            </div>

        </form>
    </div> <!-- end card-body -->
</div>
<!-- end card -->

<div class="row mt-3">
    <div class="col-12 text-center">
        <p class="text-muted">Don't have an account? <a href="/auth/login" class="text-muted ml-1"><b>Sign In</b></a></p>
    </div> <!-- end col -->
</div>
<!-- end row -->
@if (ViewBag.Message != null)
{
    <script>
        Swal.fire(
            'Status',
            "@ViewBag.Message",
            "@ViewBag.Text"
        )
    </script>
}
<script>
    function clearError(errorSpanId) {
        $("#" + errorSpanId).html("");
    }
</script>