<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
</head>
<body class ="animsition">
        @Html.Partial("_Header")

        <main role="main">
            @RenderBody()
        </main>

    @Html.Partial("_Footer")
</body>
</html>
