@using BTL_QuanLyBanDienThoai.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Banner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
        Edit Banner

    <a class="btn btn-outline-primary float-right align-items-center"
       href="/Admin/Banners">
        <i class="uil uil-corner-up-left-alt"></i>&nbsp;Back
    </a>
}

@model Banner;

<div class="card">
    <form method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" id="name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" id="title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-6 col-sm-3">
                    <label for="old_image">Old Image:</label>
                    <img src="/@Model.Image"
                         class="d-block img-thumbnail"
                         style="border-radius: 5px" />
                </div>

                <!-- File Upload -->
                <div class="form-group col-12 tab-content">
                    <label asp-for="Image">Images:</label>
                    <div class="tab-pane show active" id="file-upload-preview">
                        <div onclick="chooseFile()" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                             data-upload-preview-template="#uploadPreviewTemplate">
                            <div class="fallback">
                                <input hidden id="cateImg" name="cateImg" type="file" class="form-control" onchange="ChangeFile(this)" />
                                <input type="text" class="form-control" asp-for="Image" hidden />
                            </div>

                            <div class="dz-message needsclick">
                                <i class="h1 text-muted dripicons-cloud-upload"></i>
                                <h4>Drop files here or click to upload.</h4>
                            </div>
                        </div>
                        <!-- Preview -->
                        <div class="d-none dropzone-previews mt-3" id="file-previewss">
                            <div class="" id="uploadPreviewTemplatee">
                                <div class="card mt-1 mb-0 shadow-none border">
                                    <div class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <img id="preImg" data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                            </div>
                                            <div class="col pl-0">
                                                <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                                <p class="mb-0" data-dz-size id="preImgName"></p>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Button -->
                                                <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                    <i class="dripicons-cross"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end preview-->
                </div> 
            </div>
        </div>
        <div class="card-footer float-right border-0 bg-transparent">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>


@section Scripts{
    <script>
        function chooseFile() {
            document.querySelector('#cateImg').click();
            //$('#cateImg').click();
        }
        function ChangeFile(input) {
            var currentFile = $('#cateImg')[0].files[0];
            var fileName = currentFile.name;

            $('#file-previewss').removeClass('d-none');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preImg').attr('src', e.target.result);
                    $('#preImgName').text(fileName);
                };

                reader.readAsDataURL(input.files[0]);
            }

            $('input[name="Image"]').val(fileName);
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script>
            Swal.fire(
                'Status',
                "@ViewBag.Message",
                "@ViewBag.Text"
            )
        </script>
    }
}
