@using BTL_QuanLyBanDienThoai.Models.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Attribute Value";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
    Create Attribute Value
}

@model AttributeValueViewModel;


<div class="card">
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Id" for="attribute_id">Attribute:</label>
                    <select name="attribute_id" id="attribute_id" class="form-control">
                        <option value="">Selected attribute</option>
                        @foreach(var attr in Model.attrs)
                        {
                            <option asp-for="Id" value="@attr.Id">@attr.Name</option>
                        } 
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Name">Value:</label>
                    <input asp-for="Name" type="text" id="value" class="form-control">
                </div>
            </div>
        </div>
        <div class="card-footer float-right border-0 bg-transparent">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<script>
    // Lắng nghe sự kiện thay đổi của phần tử select
    document.getElementById('attribute_id').addEventListener('change', function () {
        var selectedValue = this.value;
        document.getElementById('attribute_id').setAttribute('asp-for', 'Id');
        document.getElementById('Id').value = selectedValue;
    });
</script>
