@using BTL_QuanLyBanDienThoai.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
                    Create User

    <a class="btn btn-outline-primary float-right align-items-center"
       href="/Admin/Users">
        <i class="uil uil-corner-up-left-alt"></i>&nbsp;Back
    </a>
}


@model User;


<div class="card">
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" type="text" class="form-control" required>
                </div>

                <div class="form-group col-sm-6">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" type="text"  class="form-control" required>
                </div>

                <div class="form-group col-sm-6">
                    <label asp-for="Password">Password:</label>
                    <div class="input-group input-group-merge">
                        <input asp-for="Password" type="password" id="password" class="form-control">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="confirm_password">Confirm Password:</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="role">Role:</label>
                    <select class="form-control select2" data-toggle="select2" id="role" name="role">
                        <option>Select a role</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer float-right border-0 bg-transparent">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
