@using BTL_QuanLyBanDienThoai.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
                        Edit User

    <a class="btn btn-outline-primary float-right align-items-center"
       href="/Admin/Users">
        <i class="uil uil-corner-up-left-alt"></i>&nbsp;Back
    </a>
}



@model User

<div class="card">
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" type="text" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label>Password:</label>
                    <button class="btn btn-outline-primary form-control col-6 d-block" type="button"
                            data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                        Change password
                    </button>
                    <br />
                    <div class="collapse show form-group w-100" id="collapseExample">
                        <div class="card card-body row">
                            <div class="form-group col-12">
                                <label for="old_password">Old Password:</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="old_password" name="old_password" class="form-control">
                                    <div class="input-group-append" data-password="false">
                                        <div class="input-group-text">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="new_password">Password:</label>
                                <div  class="input-group input-group-merge">
                                    <input asp-for="Password" type="password" id="new_password" class="form-control">
                                    <div class="input-group-append" data-password="false">
                                        <div class="input-group-text">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label for="confirm_password">Confirm Password:</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                                    <div class="input-group-append" data-password="false">
                                        <div class="input-group-text">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-0 bg-transparent">
                                <button type="button" class="btn btn-outline-info">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-sm-6">
                    <label asp-for="Role">Role:</label>
                    <select class="form-control select2" data-toggle="select2" id="role" name="role">
                        <option>Select a role</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer float-right border-0 bg-transparent">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
