@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
        Users

    <a class="btn btn-primary float-right align-items-center"
       href="/Admin/Users/Create">
        Add New
    </a>
}

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive users-table">
            <table class="table table-centered mb-0 " id="product-variants-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Email</th>
                        <th class="d-none d-sm-table-cell">Role</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td class="d-none d-sm-table-cell">email@gmail.com</td>
                        <td class="d-none d-sm-table-cell">Admin</td>
                        <td>
                            <div class='btn-group'>
                                <a href="/Admin/Users/Edit" class="action-icon">
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                                <a href="" class="action-icon">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <div class="float-right">
                @* @include('adminlte-templates::common.paginate', ['records' => $products]) *@
            </div>
        </div>
    </div>
</div>