@using BTL_QuanLyBanDienThoai.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
                Categories
    <a class="btn btn-primary float-right align-items-center"
       href="/Admin/Categories/Create">
        Add New
    </a>
}

@model List<Category>

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive users-table">
            <table class="table table-centered mb-0" id="attributes-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>
                                <img src="/@category.Image"
                                     width="50"
                                     height="50"
                                     style="border-radius: 5px" />
                            </td>
                            <td>@category.Name</td>
                            <td>
                                <div class='btn-group'>
                                    <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="action-icon">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a onclick="HandleDelete(@category.Id)" href="javascript:void(0)" class="action-icon delete">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            <div class="float-right">
                @* @include('adminlte-templates::common.paginate', ['records' => $attributes]) *@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function HandleDelete(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Categories/Delete",
                        data: {
                            id: id
                        },

                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'Deleted!',
                                    'Category has been deleted.',
                                    'success'
                                )
                                setTimeout(
                                    function () {
                                        location.reload();
                                    }, 700);
                            } else {
                                Swal.fire(
                                    'Warning!',
                                    response.message,
                                    'warning'
                                )
                            }
                        },
                    });
                }
            })

        }
    </script>
}   