<div class="left-side-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="~/admin/assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="~/admin/assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="~/admin/assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="~/admin/assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Apps</li>

            <li class="side-nav-item">
                <a href="/Admin" class="side-nav-link">
                    <i class="dripicons-home"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Users" class="side-nav-link">
                    <i class="dripicons-user"></i>
                    <span> Users </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Attributes" class="side-nav-link">
                    <i class="dripicons-view-list"></i>
                    <span> Attributes </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Attribute-Values" class="side-nav-link">
                    <i class="dripicons-skip"></i>
                    <span> Attribute Values </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Categories" class="side-nav-link">
                    <i class="dripicons-view-thumb"></i>
                    <span> Category </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Products" class="side-nav-link">
                    <i class="dripicons-box"></i>
                    <span> Products </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Product-Variants" class="side-nav-link">
                    <i class="dripicons-skip"></i>
                    <span> Product Variants </span>
                </a>
            </li>


            <li class="side-nav-item">
                <a href="/Admin/Banners" class="side-nav-link">
                    <i class="dripicons-photo"></i>
                    <span> Banner </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Orders" class="side-nav-link">
                    <i class="dripicons-to-do"></i>
                    <span> Orders </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span> Ecommerce </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="apps-ecommerce-products.html">Products</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>