@model List<Category>

<ul class="sub-menu">
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">
                @category.Name
            </a>
        </li>
    }
</ul>